body {
  color: #666666;
  font-family: 'Raleway';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-image{
    height:200px;
}

.item-category{
    padding: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); 
    height:230px;
}

.buffer1{
    min-height: 30px;
}

