.item-container {
	position: relative;
	width: 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	min-height: 500px;
	padding: 25px 25px;
}

.img-container {
	position: relative;
	min-height: 100%;
	padding: 60px 0px;
}

.details-container {
	position: relative;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	float: left;
	padding: 5px 0px;
}

.label-container {
	padding: 5px 0px;
}

.buffer {
	min-height: 30px;
	font-size: 16px;
	text-align: left;
	padding: 20px 0px;
}
