<link rel="stylesheet" href="/static/css/modify_item.css">

{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="pure-g">
	<div class="pure-u-19-24 item-container">
		<form action="/add_item/{{ username }}" class="pure-form pure-form-aligned" enctype="multipart/form-data" method="POST" >
	        {% csrf_token %}
	        <div class="pure-u-1 buffer"> <b> <u> Item Details </u> </b> </div>

	        <div class="pure-u-1 details-container">
	        	<div class="pure-u-4-24 label-container">
	        		Item Name: 
	        	</div>
	        	{{form.item_name}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Stock: 
	        	</div>
	        	{{form.quantity}}
	        </div>


	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Category: 
	        	</div>
	        	{{form.category}}
	        </div>

	        <div class="pure-u-1 details-container">
	        	<div class="pure-u-4-24 label-container">
	        		Expiration Date: 
	        	</div>
	        	{{form.expiration_date}}
	        </div>

	        <div class="pure-u-1 details-container">
	        	<div class="pure-u-4-24 label-container">
	        		Image: 
	        	</div>
	        	{{form.image}}
	        </div>

	        <div class="pure-u-1 buffer"> <b> <u> Pricing Details </u> </b> </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Quantity 1: 
	        	</div>
	        	{{form.quantity_tier_1}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Price 1: 
	        	</div>
	        	{{form.price_tier_1}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Quantity 2: 
	        	</div>
	        	{{form.quantity_tier_2}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Price 2: 
	        	</div>
	        	{{form.price_tier_2}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Quantity 3: 
	        	</div>
	        	{{form.quantity_tier_3}}
	        </div>

	        <div class="pure-u-12-24 details-container">
	        	<div class="pure-u-8-24 label-container">
	        		Price 3: 
	        	</div>
	        	{{form.price_tier_3}}
	        </div>    

		    <div class="pure-u-1" style="padding:20px 0px">
				<button type="submit" class="pure-button pure-button-primary" style="float:right"> Save </button>
			</div>
		</form>
	</div>

</div>

		
{% endblock %}