{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/css/checkout.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#checkout').DataTable( {
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false,
            data: {{ data|safe }},
            columns: [
                {% for colname in columns %}
                    {"title": "{{colname}}"},
                {% endfor %}
            ],
            "dom":"rt",
        } );
    } );
</script>

<div class="pure-g">
    <div class="pure-u-22-24 cart-container">
        <table id=checkout> </table>
    </div>

    <div class="buffer"></div>

    <div class="pure-u-22-24 checkout-container">
        <p> Total: <b> ${{subtotal}} </b> </p>
        <form action="/checkout/{{ username }}" class="pure-form pure-form-aligned" method="POST" >
            {% csrf_token %}
            <button type="submit" class="pure-button pure-button-primary" style="float:right">Check Out</button>
        </form>
    </div>
</div>
{% endblock %}